<% layout('layouts/boilerplate.ejs') %> 

<link rel="stylesheet" href="../css/home.css">

<main class="d-flex justify-content-center align-items-center">
    <div class="container text-center mt-3">
        <h1>CampSight!</h1>
        <a href="/campgrounds" class="btn btn-secondary mt-2 my-4">View Campgrounds</a><br>
    </div>
</main>
